@tailwind base;
@tailwind components;
@tailwind utilities;

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  display: inline;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 3px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 3px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  background-color: #39a7fd;
  -webkit-transition: background-color 200ms linear, width 200ms linear;
  -ms-transition: background-color 200ms linear, width 200ms linear;
  transition: background-color 200ms linear, width 200ms linear;
}
.invisible-handle .react-resizable-handle {
  width: 3px;
  background-image: none;
  background-color: transparent;
}
.invisible-handle .react-resizable-handle:hover {
  width: 3px;
  background-color: #157efb;
}
.react-resizable-handle:hover {
  background-color: #39a7fd;
  width: 4px;
  -webkit-transition: background-color 200ms linear, width 200ms linear,
    width 200ms linear;
  -ms-transition: background-color 200ms linear, width 200ms linear;
  transition: background-color 200ms linear, width 200ms linear;
}

.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 0;
  cursor: col-resize;
}
.react-resizable-handle-w {
  left: 0px;
}
.react-resizable-handle-e {
  right: 0px;
}
.react-resizable-handle-n {
  display: none;
}
